In [4]:
import pandas as pd
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [5]:
# Se Carga el archivo XLSX en un DataFrame
df = pd.read_excel(r'C:\Users\Alvaro\OneDrive\Documentos\Primer proyecto\codigo\Rinconcito_del_sabor\Datos-RS.xlsx')

In [6]:
df

,Operacion,Fecha,Tipo,Concepto,Entrada,Salida,DiaSemanaNum,DiaSemana
0,GASTOS,2022-04-25,Gastos de desechables,"desechables, bosas y azucar, 25/04/2022",0,10500.0,0,Lunes
1,GASTOS,2022-04-25,Gastos de bebidas,"cocacola, fuze, quatro coca-cola 25/04/2022",0,53600.0,0,Lunes
2,GASTOS,2022-04-25,Gastos de mecato,"proves, deditos y morenitas 25/04/2022",0,17007.0,0,Lunes
3,GASTOS,2022-04-25,insumos,"ara huevos y arroz, 25/04/2022",0,17010.0,0,Lunes
4,GASTOS,2022-04-25,insumos,"d1 pechugas, 25/04/2022",0,14650.0,0,Lunes
...,...,...,...,...,...,...,...,...
2988,GASTOS,2022-07-30,insumos,"ara, 30/07/2022",0,19150.0,5,Sábado
2989,GASTOS,2022-07-30,insumos,"masa, 30/07/2022",0,14000.0,5,Sábado
2990,GASTOS,2022-07-30,nomina,"fanny, 30/07/2022",0,20000.0,5,Sábado
2991,GASTOS,2022-07-30,nomina,"felipe, 30/07/2022",0,10000.0,5,Sábado
2992,INGRESOS,2022-07-30,Venta de Productos,"ventas, 30/07/2022",371150,0.0,5,Sábado

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2993 entries, 0 to 2992
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Operacion     2993 non-null   object
 1   Fecha         2993 non-null   datetime64[ns]
 2   Tipo          2993 non-null   object
 3   Concepto      2993 non-null   object
 4   Entrada       2993 non-null   int64
 5   Salida        2993 non-null   float64
 6   DiaSemanaNum  2993 non-null   int64
 7   DiaSemana     2993 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 187.2+ KB

In [15]:
# Extrae el año de la columna de fecha
df['año'] = df['Fecha'].dt.year

# Filtra el DataFrame para incluir solo las salidas
salidas_df = df[df['Tipo'] == 'Salida']

# Agrupa los datos por tipo y año, sumando las salidas
data_grouped = salidas_df.groupby(['Tipo', 'año'])['Salida'].sum().unstack().reset_index()

# Crea un gráfico de barras agrupado por tipo
ax = data_grouped.plot(kind='bar', x='Tipo', stacked=True, figsize=(10, 6))
ax.set_xlabel('Tipo')
ax.set_ylabel('Salida')
ax.set_title('Salidas por Tipo y Año (2022-2023)')
ax.legend(title='Año', labels=['2022', '2023'])
plt.xticks(rotation=45)
plt.show()

TypeError: no numeric data to plot

In [16]:
import matplotlib.pyplot as plt

# Filtra el DataFrame para incluir solo las salidas
salidas_df = df[df['Tipo'] == 'Salida']

# Agrupa los datos por tipo y año, sumando las salidas
data_grouped = salidas_df.groupby(['año', 'Tipo'])['Salida'].sum().unstack().reset_index()

# Crea un gráfico de barras agrupado por año
ax = data_grouped.plot(kind='bar', x='año', stacked=True, figsize=(10, 6))
ax.set_xlabel('Año')
ax.set_ylabel('Salida')
ax.set_title('Salidas por Tipo y Año (2022-2023)')
ax.legend(title='Tipo', labels=data_grouped.columns[1:])
plt.xticks(rotation=0)
plt.show()

TypeError: no numeric data to plot